name: build

on:
  workflow_dispatch:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
  build-release:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos:
          - linux
        goarch:
          - amd64
    steps:
      - uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: stable

      - name: Prepare build env
        run: |
          BINARY_DIR="out"
          BINARY_NAME="bumper"
          mkdir -p "${BINARY_DIR}"
          echo "GOOS=${{matrix.goos}}" >> ${GITHUB_ENV}
          echo "GOARCH=${{matrix.goarch}}" >> ${GITHUB_ENV}
          echo "BINARY_DIR=${BINARY_DIR}" >> ${GITHUB_ENV}
          echo "BINARY_NAME=${BINARY_NAME}" >> ${GITHUB_ENV}

      - name: Build the binary
        run: go build -ldflags '-s -w' -v -o "${BINARY_DIR}/${BINARY_NAME}"

      - name: Determine binary version
        run: |
          if [[ "${GITHUB_REF}" =~ ^refs/tags/ ]]; then
            BINARY_VERSION="${GITHUB_REF#refs/tags/v}"
          else
            BINARY_VERSION=$(git rev-parse --short HEAD)
          fi
          echo "BINARY_VERSION=${BINARY_VERSION}" >> ${GITHUB_ENV}

      - name: Check CLI version against tag
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          CLI_VERSION=$("${BINARY_DIR}/${BINARY_NAME}" -v | cut -d ' ' -f 3)
          if [[ "${BINARY_VERSION}" != "${CLI_VERSION}" ]]; then
            echo "CLI version differs from the current tag!"
            echo "cmd/bumper/bumper.go: ${CLI_VERSION}"
            echo "tag:                  ${CLI_VERSION}"
            exit 1
          fi

      - name: Build the archive artifact
        run: |
          PKG_NAME="${BINARY_NAME}-${BINARY_VERSION}-${GOOS}-${GOARCH}"
          PKG_STAGING="${PWD}/${PKG_NAME}"
          mkdir -p "${PKG_STAGING}"

          cp "${BINARY_DIR}/${BINARY_NAME}" "${PKG_STAGING}"
          cp {README.md,LICENSE} "${PKG_STAGING}"

          PKG_ARTIFACT_NAME="${PKG_NAME}.tar.gz"
          PKG_ARTIFACT_PATH="${PWD}/${PKG_ARTIFACT_NAME}"
          cd "${PKG_STAGING}"
          tar -czf "${PKG_ARTIFACT_PATH}" *

          echo "PKG_ARTIFACT_NAME=${PKG_ARTIFACT_NAME}" >> ${GITHUB_ENV}
          echo "PKG_ARTIFACT_PATH=${PKG_ARTIFACT_PATH}" >> ${GITHUB_ENV}

      - name: Upload the artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PKG_ARTIFACT_NAME }}
          path: ${{ env.PKG_ARTIFACT_PATH }}

      - name: Release the artifact
        uses: softprops/action-gh-release@v2
        if: startswith(github.ref, 'refs/tags/')
        with:
          draft: true
          files: ${{ env.PKG_ARTIFACT_PATH }}
